{% extends "base.html" %}
{% load static %}

{% block title %} Add expense {% endblock %}

{% block head %} Add expense{% endblock  %}

{% block pagehead %} Add expense {% endblock  %}

{% block table %}



<div class="container ">
    {% include 'messege.html' %}
    <form action="{% url 'addexpense' %}" method="post" class="form-horizontal" onsubmit="return validate()">
        {% csrf_token %}
        <div class="row form-group mb-2 ">
            <div class="col col-md-3">
                <label for="hf-name" class=" form-control-label">Expense name</label>
            </div>
            <div class="col-12 col-md-9">
                <input type="text" id="hf-name" name="name" placeholder="Enter expense name..." class="form-control"  >
                <span class="help-block" id="exname"></span>
            </div>
        </div>
        <div class="row form-group mb-2 ">
            <div class="col col-md-3">
                <label for="hf-amount" class=" form-control-label">Amount spent</label>
            </div>
            <div class="col-12 col-md-9">
                <input type="text" id="hf-amount" name="amount" placeholder="Enter Amount spent..." class="form-control">
                <span class="help-block" id="examount"></span>
            </div>
        </div>
        <div class="row form-group mb-2 ">
            <div class="col col-md-3">
                <label for="hf-date" class=" form-control-label">Date of transaction</label>
            </div>
            <div class="col-12 col-md-9">
                <input type="date" id="hf-date" name="date" placeholder="Enter date of transaction..." class="form-control">
                <span class="help-block" id="exdate"></span>
            </div>
        </div>
        <div class="row form-group mb-2 ">
            <div class="col col-md-3">
                <label for="hf-category" class=" form-control-label">Category of expense</label>
            </div>
            <div class="col-12 col-md-9">
                <select id="hf-category" class="form-select" name="category" >
                    <option value="">Select a category</option> <!-- Add a default option -->
                {% for category_key, category_value in category_choices.items %}
                    <option value="{{ category_key }}">{{ category_value }}</option>
                {% endfor %}
                </select>
                <span class="help-block" id="excategory"></span>
            </div>
        </div>
        <div class="row form-group mb-2 w-25">
            <input type="submit" class="btn btn-primary btn-sm" value="Add expense">
        </div>
        
        
        
    </form>
</div>
</div>
<script>
    function validate(){
        let nameValue = document.getElementById('hf-name').value 
        let price = document.getElementById('hf-amount').value 
        var dateInput = document.getElementById('hf-date').value
        var categorySelect = document.getElementById('hf-category').value

        if (nameValue === '') {
        document.getElementById('exname').innerHTML = '*required';
        return false;
        }

        // Regular expression to check if the input contains numbers
        var hasNumbers = /\d/.test(nameValue);

        if (hasNumbers) {
            document.getElementById('exname').innerHTML = '*cannot contain numbers';
            return false;
        }
        
        if(price == '')
        {
            document.getElementById('examount').innerHTML='*requried'
            return false
        }else if(!/^\d+(\.\d+)?$/.test(price)){
            document.getElementById('examount').innerHTML='*must be a valid number'
            return false
        }else{

        }
        if (!dateInput) {
        document.getElementById('exdate').innerHTML = '*required';
        return false;
        }
        var datePattern = /^\d{4}-\d{2}-\d{2}$/;

        if (!datePattern.test(dateInput)) {
            document.getElementById('exdate').innerHTML = '*invalid date format (YYYY-MM-DD)';
            return false;
        }
        if (categorySelect === '') {
        document.getElementById('excategory').innerHTML = '*required';
        return false;
        }

    }
</script>
<style>
    .btn-sm{
        width: 100px;
        height: 30px;
    }
    span{
        color: red;
    }
</style>

{% endblock  %}