{% extends "base.html" %}
{% load static %}

{% block title %} Edit expense {% endblock %} 

{% block head %}Edit expense{% endblock  %}

{% block pagehead %} Edit expense{% endblock  %}

{% block table %}



    
{% include 'messege.html' %}

{% for month, month_data in expenses_by_month.items %}
<h2>{{ month|date:"F Y" }}</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Expense name</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for expense in month_data.expenses %}
        <tr>
            <td>{{ expense.expense_name }}</td>
            <td>Rs.{{ expense.amount }}</td>
            <td>{{ expense.transaction_date }}</td>
            <td>{{ expense.category }}</td>
            <td><a href="{% url 'update' expense.id %}"><i class="fas fa-edit"></i></a></td>
            <td><a href="{% url 'delete' expense.id %}"><i class="fa fa-trash " aria-hidden="true"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p>Total Amount: Rs.{{ month_data.total_amount }}</p>
<p>Total Expenses: {{ month_data.expense_count }}</p>

{% empty %}
<p>No expenses found.</p>
{% endfor %}




{% endblock  %}

