{% extends "base.html" %}
{% load static %}

{% block title %} Expense report {% endblock %}

{% block head %}{% endblock  %}

{% block pagehead %} {% endblock  %}


{% block chart %}
  <!-- Add a form with a dropdown for selecting the year -->
  <form method="get">
    <label for="year">Select Year:</label>
    <select name="year" id="year">
        <option value="">-- All Years --</option>
        {% for year_data in yearly_data %}
            <option value="{{ year_data.year }}" {% if selected_year == year_data.year %}selected{% endif %}>{{ year_data.year }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Show Graph" class="btn btn-primary  ">
</form>

<!-- Add this section to display the bar chart image -->
<!-- <img src="data:image/png;base64,{{ chart_image }}" alt="Monthly Expenses Chart"> -->

{% if chart_image %}
    <img src="data:image/png;base64,{{ chart_image }}" alt="Monthly Expenses Chart">
  {% else %}
    <p>No chart available.</p>
  {% endif %}

{% endblock %}

{% block table %}
<h3>Expense Report </h3><br><br>

<h4 class="mt-3">Monthly Expenses:</h4>

        {% for year_data in yearly_data %}
            <h4>For year {{ year_data.year}}</h4>
               
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Month</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for monthly_expense in year_data.monthly_expenses %}
                                <tr>
                                    <td>{{ monthly_expense.month }}</td>
                                    <td>Rs. {{ monthly_expense.total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
        {% endfor %}
    </tbody>
</table>
{% if yearly_data %}
<a style="margin-left: 1050px;" href="{% url 'generate_pdf_monthly' %}" ><button class="btn  btn-success ">Download </button></a>
{% endif %}



<h4 class="mt-3">Yearly Expenses:</h4>
    
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Year</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for y in yearly_expenses %}
        <tr>
            <td>{{y.year}}</td>
            <td>Rs. {{ y.total }}</td>
        </tr>
        {%  endfor %}
    </tbody>
</table>
{% if yearly_expenses %}
<a style="margin-left: 1050px;" href="{% url 'generate_pdf_yearly' %}" ><button class="btn  btn-success ">Download </button></a>
{% endif %}

<h4 class="mt-3">Category-wise Expenses:</h4>
<table class="table table-bordered ">
    <thead>
        <tr>
            <th>Category</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for category_expense in category_expenses %}
        <tr>
            <td>{{ category_expense.category }}</td>
            <td>Rs. {{ category_expense.total }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock  %}

