{% extends "base.html" %}
{% load static %}

{% block title %} Edit expense {% endblock %}

{% block head %} Edit expense{% endblock  %}

{% block pagehead %} Edit expense {% endblock  %}

{% block table %}



<div class="container ">
    {% include 'messege.html' %}
    <form action="{% url 'update' allitem.id %}" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="row form-group mb-2 ">
            <div class="col col-md-3">
                <label for="hf-name" class=" form-control-label">Expense name</label>
            </div>
            <div class="col-12 col-md-9">
                <input type="text" id="hf-name" name="name" value="{{allitem.expense_name}}" class="form-control" readonly>
            <!-- <span class="help-block">Please enter sub-category name</span> -->
            </div>
        </div>
        <div class="row form-group mb-2 ">
            <div class="col col-md-3">
                <label for="hf-amount" class=" form-control-label">Amount spent</label>
            </div>
            <div class="col-12 col-md-9">
                <input type="number" id="hf-amount" name="amount" value="{{allitem.amount}}" class="form-control">
            <!-- <span class="help-block">Please enter sub-category name</span> -->
            </div>
        </div>
        <div class="row form-group mb-2 ">
            <div class="col col-md-3">
                <label for="hf-date" class=" form-control-label">Date of transaction</label>
            </div>
            <div class="col-12 col-md-9">
                <input type="text" id="hf-date" name="date" value="{{allitem.transaction_date}}" class="form-control" readonly>
            <!-- <span class="help-block">Please enter sub-category name</span> -->
            </div>
        </div>
        <div class="row form-group mb-2 ">
            <div class="col col-md-3">
                <label for="hf-category" class=" form-control-label">Category of expense</label>
            </div>
            <div class="col-12 col-md-9">
                <input type="text" id="hf-date" name="date" value="{{allitem.category}}" class="form-control" readonly>
            </div>
        </div>
        <div class="row form-group mb-2 w-25">
            <input type="submit" class="btn btn-success  btn-sm" value="Save">
        </div>
        
        
        
    </form>
</div>
</div>
<style>
    .btn-sm{
        width: 100px;
        height: 30px;
    }
</style>

{% endblock  %}