{% extends "base.html" %}
{% load static %}

{% block title %} Edit expense {% endblock %}

{% block head %} Edit expense{% endblock  %}

{% block pagehead %} Edit expense {% endblock  %}

{% block table %}



<div class="container ">
    {% include 'messege.html' %}
    <form action="{% url 'update' allitem.id %}" method="post" class="form-horizontal" onsubmit="return validates()">
        {% csrf_token %}
        <div class="row form-group mb-2 ">
            <div class="col col-md-3">
                <label for="hf-name" class=" form-control-label">Expense name</label>
            </div>
            <div class="col-12 col-md-9">
                <input type="text" id="hf-name" name="name" value="{{allitem.expense_name}}" class="form-control" >
                <span class="help-block" id="exname"></span>
            </div>
        </div>
        <div class="row form-group mb-2 ">
            <div class="col col-md-3">
                <label for="hf-amount" class=" form-control-label">Amount spent</label>
            </div>
            <div class="col-12 col-md-9">
                <input type="number" id="hf-amount" name="amount" value="{{allitem.amount}}" class="form-control">
                <span class="help-block" id="examount"></span>
            </div>
        </div>
        <div class="row form-group mb-2 ">
            <div class="col col-md-3">
                <label for="hf-date" class=" form-control-label">Date of transaction</label>
            </div>
            <div class="col-12 col-md-9">
                <input type="date" id="hf-date" name="date" value="{{ allitem.transaction_date|date:'Y-m-d' }}" min="2023-01-01" max="2025-12-31" class="form-control">
                <span class="help-block" id="exdate"></span>
            </div>
        </div>
        <div class="row form-group mb-2">
            <div class="col col-md-3">
                <label for="hf-category" class="form-control-label">Category of expense</label>
            </div>
            <div class="col-12 col-md-9">
                <select id="category" name="category" class="form-select">
                    {% for category_key, category_value in category_choices.items %}
                    <option value="{{ category_key }}" {% if category_key == allitem.category %}selected{% endif %}>
                        {{ category_value }}
                    </option>
                {% endfor %}
                    
                </select>
                <span class="help-block" id="excategory"></span>
            </div>
        </div>
        <div class="row form-group mb-2 w-25">
            <input type="submit" class="btn btn-success  btn-sm" value="Save">
        </div>
        
        
        
    </form>
</div>
</div>

    
<script>

function validates(){
    let nameValue = document.getElementById('hf-name').value ;
    // let price = document.getElementById('hf-amount').value 
    // var dateInput = document.getElementById('hf-date').value
    // var categorySelect = document.getElementById('hf-category').value

    if(nameValue == '')
    {
        document.getElementById('hf-name').innerHTML='*required';
    }
}
    
</script>
<style>
.btn-sm{
    width: 100px;
    height: 30px;
}
span{
    color: red;
}
.btn-sm{
        width: 100px;
        height: 30px;
    }
</style>

{% endblock  %}